html{
    font-family: 'Century Gothic';
    font-size: 20px;
    height: 100%;
    color: rgb(247, 113, 113);
}
body{
    height: 100%;
}
header{
    color: rgb(221, 28, 28);
    text-shadow: 2px 2px 1px rgb(255, 253, 253);
}
.h1{
    margin-left: .5%;
}
.div1{
    background-attachment: fixed;
    background-color: rgba(33, 201, 201, 0.233);
    height: 43%;
    text-shadow: 2px 2px 0px black;
}
.div2{
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    height: 57%;
    margin-top: -2%;
    background-image: url('ima.jpg');
    padding-bottom: 2.5%;
}
li{
    list-style: none;
}
a{
    color: rgb(255, 0, 98);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);

}
a:hover{
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(255, 253, 253);

}
#contact{
    margin-bottom: -1%;
    color: rgb(248, 94, 94);
    text-shadow: 2px 2px 0px black;
}
.txt{
    display: block;
    margin-top: 1%;
    margin-left: 2%;
}
.boton{
    margin-top: 1%;
    margin-left: 7%;
}
p{
    color: rgb(248, 94, 94);
    font-weight: bold;
}
aside{
    width: 100%;
    margin-top: 3%;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    background-color: transparent;
}