html{
    font-family: 'Century Gothic';
    font-size: 20px;
    height: 100%;
    color: rgb(201, 98, 98);
    text-align: justify;
    background-image: url('study.jpg');
    background-attachment: fixed;
    background-color: transparent;
}
.header{
    color: rgb(9, 186, 209);
    text-shadow: 2px 2px 1px rgb(2, 92, 104);
}
li{
    list-style: none;
}
a{
    color: rgb(255, 0, 98);
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);

}
a:hover{
    font-weight: bold;
    border-bottom: 2px solid rgba(214, 209, 209, 0.85);
    text-shadow: 2px 2px 1px rgba(214, 209, 209, 0.85);

}
#study{
    color: rgb(246, 208, 161);
    font-size: 40px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}
img{
    width: 30%;
    height: 20%;
    box-shadow: 1px 1px 30px black;
    border-radius: 10px;
}
p{
    background: rgba(0, 0, 0, 0.555); 
    color: bisque;
    border-radius: 5px;
    margin-left: 32%;
    margin-top: -37%;
    padding: 1%;
}